body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.main{
	width: 500px;
	height: 700px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.sms{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 1.5em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 70%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 70%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}
.bulk-sms{
	height: 600px;
	background: #eee;
    border-radius: 60% / 10%; 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.bulk-sms label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .bulk-sms{
	transform: translateY(-700px);
}
#chk:checked ~ .bulk-sms label{
	transform: scale(1);	
}
#chk:checked ~ .sms label{
	transform: scale(.6);
}